<div>
  <h2> About </h2>
  <br>
  <article> Jungle is dedicated to genetically cloning plants grown in the richest soil only found 
  in metor crators. We are here to provide a beautiful arrangement for the special life occasions whether 
  that is birth of a human baby, Anniversary of first contact or birthday of a future earth leader.</article>
  <br>
  <span>We pride ourselves in three things:</span>
  <ol>
    <li> Our overgrown ALMOST alive plants
    <li> Out of this universe pricing
    <li> A beautiful website crafted by the best junior developer in probably earths history.
  </ol>
</div>